.dash{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.indi-box{
display: flex;
flex-direction: column;
align-items: center;
border: thin solid black;
padding: 1rem;
}
