<div class="dash">
  <app-one [countToOne]="countTwo"  (detectChange)="obtainSecondValue($event)"  class="indi-box" ></app-one>
  <app-two [countToTwo]="countOne"   (detectChange)="obtainFirstValue($event)"  class="indi-box"></app-two>
</div>

